<?xml version="1.0"?>
<launch>
  <arg name="unique" default="true"/>

  <arg name="robot_namespace" default="/"/>
  <arg name="laser_enabled" default="false"/>
  <arg name="realsense_enabled" default="true"/>
  <arg name="urdf_extras" default=""/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find base_description)/urdf/mecanum.urdf.xacro'" />

  <group if="$(arg unique)">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>

</launch>
